#nav1 ul {
	list-style-type: none;
	display: inline;
	padding-left: 5px;
	font-family: Century Gothic, sans-serif;
}
#nav1 {
	background-color: #FBEAEB;
}
ul li {
  display: inline;
}
#yang_pic1 {
	text-align: center;
}
#footer1 {
	text-align: right;
	font-family: Century Gothic, sans-serif;
}